<br>
<br>
<br>
<br>
<div class="container">
	<div class="row clearfix">
			<legend><h2>Resumen</h2></legend>
			
			<table class="table table-hover" >
				
				<th>Fecha</th>
				
				<th>Saldo Restante</th>
				
				
				<tr>
					<td>
					<script type="text/javascript">
						var d = new Date();
						var mes = new Array ("Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre");
						var dia = new Array("Domingo","Lunes","Martes","Miércoles","Jueves","Viernes","Sábado");


						document.write(d.getDate(),'/'+mes[d.getMonth()],'/'+d.getFullYear());
					</script>
					</td>
					
					<td><%=saldo.saldo%></td>
					
				</tr>
				</table>
				<legend><h2>Historial Facturas</h2></legend>

				
				<table class="table table-hover" >
					<th>Factura</th>
					<th>Fecha Pago</th>
					<th>Fecha Limite</th>
					<th>Cuentas Vencidas</th>
					<th>Valor</th>
					<th>Estado</th>
					<th colspan="2" class="text-center">Acciones</th>
					
					<% _.each(facturas, function(factura) { %>
					<tr>
						<td><%=factura.tipo%></td>
						<td><%=factura.fechaPago%></td>
						<td><%=factura.fechaLimite%></td>
						<td><%=factura.cuentasVencidas%></td>
						<td><%=factura.valor%></td>
						<td><%=factura.Estado%></td>
						<td>
							<center><a href="/factura/show/<%=factura.id%>" class="btn btn-success btn-sm ">Detalles</a>
						
							<a href="/factura/updatestate/<%=factura.id%>" class="btn btn-success btn-sm ">Cambiar Estado</a>
						
						</center>
						</td>
					</tr>
					<%})%>
				</table>
				<a href="/factura/index" class="btn btn-success2 btn-sm pull-right ">Ver Todo</a>
				
				
			
			
			
				<legend><h2>Historial Gastos</h2></legend>
				
					
					<table class="table table-hover" >
					<th>Tipo</th>
					<th>Descripcion</th>
					<th>Valor</th>
					<th>Fecha</th>
					<th>Fecha Cancelado</th>
					<th>Estado</th>
					
					<th colspan="2" class="text-center">Acciones</th>
					<% _.each(gastos, function(gasto) { %>
					<tr>
						<td><%=gasto.tipo%></td>
						<td><%=gasto.descripcion%></td>
						<td><%=gasto.valor%></td>
						<td><%=gasto.fechaIngreso%></td>
						<td><%=gasto.fechaCancelado%></td>
						<td><%=gasto.estado%></td>
						<td>
						<center><a href="/gasto/show/<%=gasto.id%>" class="btn btn-success btn-sm ">Detalles</a>
							
						
							<a href="/gasto/updatestate/<%=gasto.id%>" class="btn btn-success btn-sm ">Cambiar Estado</a>
							</center>
						</td>
						
						
					</tr>
					<%})%>
				</table>
				<a href="/gasto/index" class="btn btn-success2 btn-sm pull-right ">Ver Todo</a>
				


			

			<legend><h2>Historial Giros</h2></legend>
				<table class="table table-hover" >
					<th>Referencia</th>
					<th>Fecha</th>
					<th>Valor</th>
					<th>Descripcion</th>
					
					<th class="text-center">Acciones</th>

					<% _.each(giros, function(giro) { %>
					<tr>
						<td><%=giro.codigo%></td>
						<td><%=giro.fecha%></td>
						<td><%=giro.valor%></td>
						<td><%=giro.descripcion%></td>
						
						<td>
							<center><a href="/giro/show/<%=giro.id%>" class="btn btn-success btn-sm ">Detalles</a>
							</center>
						</td>
						
						
					</tr>
					<%})%>
				</table>
				<a href="/giro/index" class="btn btn-success2 btn-sm pull-right ">Ver Todo</a>
				
			
		
	</div>
</div>