<br>
<br>
<br>
<br>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-10 col-md-offset-1">
			<legend><h2>Detalles Gasto</h2></legend>
			<div class="jumbotron" >

			
					<div class="row">
						<div class="col-xs-2">
							<p><strong>Nombre </strong></p>
						</div>
						<div class="col-xs-10">
							<p><%=contact.name%><%=contact.lastname%></p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-2">
							<p><strong>Email </strong></p>
						</div>
						<div class="col-xs-10">
							<p><a href="mailto:<p><%=contact.email%></p>"><%=contact.email%></a></p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-2">
							<p><strong>Ciudad </strong></p>
						</div>
						<div class="col-xs-10">
							<p><%=contact.city%></p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-2">
							<p><strong>Teléfono </strong></p>
						</div>
						<div class="col-xs-10">
							<p><%=contact.phone%></p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-2">
							<p><strong>Celular </strong></p>
						</div>
						<div class="col-xs-10">
							<p><%=contact.mobile%></p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-2">
							<p><strong>Descripción  </strong></p>
						</div>
						<div class="col-xs-10">
							<p><%=contact.description%></p>
						</div>
					</div>
				
			</div>
			<a href="/contacto/index" class="btn btn-success btn-lg  pull-right">Atrás</a>
		</div>
	</div>
</div>