<br>
<br>
<br>
<br>

<div class="container">
	<h2>Historial Facturas</h2>
	
		<table class="table table-hover" >
					<th>Factura</th>
					<th>Fecha Pago</th>
					<th>Fecha Limite</th>
					<th>Cuentas Vencidas</th>
					<th>Valor</th>
					<th>Estado</th>
					<th colspan="2" class="text-center">Acciones</th>
					
					<% _.each(facturas, function(factura) { %>
					
					<tr>


						<td><%=factura.tipo%></td>
						<td><%=factura.fechaPago%></td>
						<td><%=factura.fechaLimite%></td>
						<td><%=factura.cuentasVencidas%></td>
						<td>$<%=factura.valor%></td>
						<td ><%=factura.estado%></td>
						
						<td>
							
							<a href="/factura/show/<%=factura.id%>" class="btn btn-success btn-sm ">Detalles</a>
						
						<% if(factura.estado !=='Cancelado'){ %>
						
							
							<a id="estado" href="/factura/updatestate/<%=factura.id%>" class="btn btn-success btn-sm ">Cambiar Estado</a>

							
						
							<a id="editar" href="/factura/edit/<%=factura.id%>" class="btn btn-success btn-sm ">Editar</a>
						</td>
						<%}%>
						<% if(session.Usuario.tipo ==='admin'){%>
						<td><form action="/factura/destroy/<%= factura.id%>" method="POST" accept-charset="utf-8">
								<input type="hidden" name="_method" value="delete"/>
								<input type="submit"  class="btn btn-sm btn-danger" value="Eliminar"/>
								<input type="hidden" name="_csrf" value="<%= _csrf %>"/>
							</form></td>
						
					</tr>
					<%}%>
					<%})%>
				</table>
				<a href="/usuario/history" class="btn btn-success btn-lg pull-right ">Atrás</a>
</div>
<br><br><br><br>