<br>
<br>
<br>
<br>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-10 col-md-offset-1">
			<legend><h2>Detalles factura</h2></legend>
			<div class="jumbotron" >
				
				<div class="row">
					<div class="col-xs-3">
						<p><strong>Ingresado por: </strong></p>
					</div>
					<div class="col-xs-9">
						<p><%=usuario.nombre%></p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-3">
						<p><strong>Tipo </strong></p>
					</div>
					<div class="col-xs-9">
						<p><%=factura.tipo%></p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-3">
						<p><strong>Valor </strong></p>
					</div>
					<div class="col-xs-9">
					<p>$<%=factura.valor%></a></p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3">
					<p><strong>Fecha Pago </strong></p>
				</div>
				<div class="col-xs-9">
					<p><%=factura.fechaPago%></p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3">
					<p><strong>Fecha Limite </strong></p>
				</div>
				<div class="col-xs-9">
					<p><%=factura.fechaLimite%></p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3">
					<p><strong>Fecha Cancelado </strong></p>
				</div>
				<div class="col-xs-9">
					<p><%=factura.fechaCancelado%></p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3">
					<p><strong>Estado </strong></p>
				</div>
				<div class="col-xs-9">
					<p><%=factura.estado%></p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3">
					<p><strong>Descripción  </strong></p>
				</div>
				<div class="col-xs-9">
					<p><%=factura.descripcion%></p>
				</div>
			</div>
			
		</div>
		<a href="/factura/edit/<%=factura.id%>" class="btn btn-success btn-lg  pull-right">Editar</a>
	</div>
</div>
</div>