<br>
<br>
<br>
<br>
<div class="container">
<legend><h2>Historial Gastos</h2></legend>

								
					<table class="table table-hover"  >
					<th>Tipo</th>
					<th>Descripción</th>
					<th>Valor</th>
					<th>Fecha</th>
					<th>Fecha Cancelado</th>
					<th>Estado</th>
					
					
					<th colspan="2" class="text-center">Acciones</th>

					<% _.each(gastos, function(gasto) { %>
					<tr>
						<td><%=gasto.tipo%></td>
						<td><%=gasto.descripcion%></td>
						<td>$<%=gasto.valor%></td>
						<td><%=gasto.fechaIngreso%></td>
						<td><%=gasto.fechaCancelado%></td>
						<td><%=gasto.estado%></td>
						<td>
							<a href="/gasto/show/<%=gasto.id%>" class="btn btn-success btn-sm ">Detalles</a>
							
						<% if(gasto.estado !=='Cancelado'){ %>
							<a href="/gasto/updatestate/<%=gasto.id%>" class="btn btn-success btn-sm ">Cambiar Estado</a>
							<a href="/gasto/edit/<%=gasto.id%>" class="btn btn-success btn-sm ">Editar</a>
						<%}%>
							
						</td>
						<% if(session.Usuario.tipo ==='admin'){%>
						<td><form action="/gasto/destroy/<%= gasto.id%>" method="POST" accept-charset="utf-8">
								<input type="hidden" name="_method" value="delete"/>
								<input type="submit"  class="btn btn-sm btn-danger" value="Eliminar"/>
								<input type="hidden" name="_csrf" value="<%= _csrf %>"/>
							</form></td>
					</tr>
					<%}%>
					<%})%>
				</table>

				<a href="/usuario/history" class="btn btn-success2 btn-lg pull-right ">Atrás</a>
				
</div>