<br>
<br>
<br>
<br>
<div class="container">
<legend><h2>Historial Giros</h2></legend>
				<table class="table table-hover"  >
					<th>Referencia</th>
					<th>Fecha</th>
					<th>Valor</th>
					<th>Descripción</th>
					
					<th colspan="2" class="text-center">Acciones</th>

					<% _.each(giros, function(giro) { %>
					<tr>
						<td><%=giro.codigo%></td>
						<td><%=giro.fecha%></td>
						<td><%=giro.valor%></td>
						<td><%=giro.descripcion%></td>
						
						<td>
							<center><a href="/giro/show/<%=giro.id%>" class="btn btn-success btn-sm ">Detalles</a>
							</center>
						</td>
						<% if(session.Usuario.tipo ==='admin'){%>
						<td><form action="/giro/destroy/<%= giro.id%>" method="POST" accept-charset="utf-8">
								<input type="hidden" name="_method" value="delete"/>
								<input type="submit"  class="btn btn-sm btn-danger" value="Eliminar"/>
								<input type="hidden" name="_csrf" value="<%= _csrf %>"/>
							</form></td>
						
						<%}%>
					</tr>
					<%})%>
				</table>
				<a href="/usuario/history" class="btn btn-success2 btn-sm pull-right ">Atrás</a>
</div>