<br>
<br>
<br>
<br>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-10 col-md-offset-1">
			<legend><h2>Detalles Giro</h2></legend>
			<div class="jumbotron" >
				
				<div class="row">
					<div class="col-xs-3">
						<p><strong>Ingresado por: </strong></p>
					</div>
					<div class="col-xs-9">
						<p><%=usuario.nombre%></p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-3">
						<p><strong>Codigo/Referencia </strong></p>
					</div>
					<div class="col-xs-9">
						<p><%=giro.codigo%></p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-3">
						<p><strong>Valor </strong></p>
					</div>
					<div class="col-xs-9">
					<p><%=giro.valor%></a></p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3">
					<p><strong>Fecha Ingreso </strong></p>
				</div>
				<div class="col-xs-9">
					<p><%=giro.fecha%></p>
				</div>
			</div>
			
			<div class="row">
				<div class="col-xs-3">
					<p><strong>Descripción  </strong></p>
				</div>
				<div class="col-xs-9">
					<p><%=giro.descripcion%></p>
				</div>
			</div>
			
		</div>
		<a href="/giro/edit/<%=giro.id%>" class="btn btn-success btn-lg  pull-right">Editar</a>
	</div>
</div>
</div>